@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root {
	--bg-color: #161515;
	--light-color: #ffffff;
	--slider-bg-color: #1b2129;
	--font-size: 10px;
	--btn-color: #612983;
	--btn-color-hover: #a142b9;
	--btn-color-active: #a58bb3;
  }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Karla', sans-serif;
	font-size: 2rem;
	line-height: 1.5; 
	color: var(--light-color);
	background: var(--bg-color);
}

main {
    width: 100%;
	min-height: 100vh;
	margin:  0 auto;
}

.wrapper {
	display: flex;
	flex-direction:column;
	justify-content: center;
	margin:  2rem 3rem;
}

.slider {
	display: inline-block;
    width: 75vw;
	min-height: 60vh;
	margin: 0 auto;
	padding: 2rem;
	background-color: #2b2c40;
	border-radius: 0.7rem;
	box-shadow: 0 0 0.2rem rgba(0, 0, 0, .5);
} 

.slider-container {
	max-width: 100%;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slider-gifs {
	display: flex;
	overflow: hidden;
	border-radius: 0.2rem;
	transition: all 0.7s ease;
}

.gif {
	display: inline-block;
	min-width: 100%;
	height: 40rem;
	border-radius: 0.4rem;
} 

img {
	width: 100%;
	height: 100%;
}
/* slider-nav*/

.controls {
	display: flex;
	justify-content: space-between;
	padding-top: 1rem;
}

.text-container {
	width: 60%;
    overflow: hidden;
}

.text-gifs {
	display: flex;
	transition: all 0.5s ease;
}

.text {
	min-width: 100%;
}

.control-contianer {
	max-width: 50rem;
}

.point-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.point-control {
	padding: 1rem;
	cursor: pointer;
	user-select: none;
}

.point-label-span {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--btn-color);
    border-radius: 50%;
    transition: all 0.4s ease;
    box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.4);
}

.slider > input {
	display: none;

}

.point-control span:active {
	background: var(--btn-color-hover);
	transition: all 0.4s ease;
}

.point-control span:hover {
	background: var(--btn-color-active);
	transition: all 0.4s ease;
	transform: scale(0.9);
}

#slide-1:checked ~ .point-label-span,
#slide-2:checked ~ .point-label-span,
#slide-3:checked ~ .point-label-span,
#slide-4:checked ~ .point-label-span,
#slide-5:checked ~ .point-label-span {
    background: var(--light-color);
    transform: scale(1.25);
    border: .0.5rem solid #111;
    box-shadow: 0 0 1rem 1.5rem rgba(0, 0, 0, 0.75);
}

#slide-1:checked ~ .slider-container .slider-gifs. item-1, 
#slide-1:checked ~ .text-container .text-gifs .text-1 {
    transform: translateX(0);
}

#slide-2:checked ~ .slider-container .slider-gifs .item-2,
#slide-2:checked ~ .text-container .text-gifs .text-2 {
    transform: translateX(-100%);
}

#slide-3:checked ~ .slider-container .slider-gifs .item-3,
#slide-3:checked ~ .text-container .text-gifs .text-3 {
    transform: translateX(-200%);
}

#slide-4:checked ~ .slider-container .slider-gifs .item-4,
#slide-4:checked ~ .text-container .text-gifs .text-4 {
    transform: translateX(-300%);
}

#slide-5:checked ~ .slider-container .slider-gifs .item-5,
#slide-5:checked ~ .text-container .text-gifs .text-5 {
    transform: translateX(-400%);

